.memoGameOptions__info h1,
.memoGameOptions__info p {
  text-align: center;
}

.gameOptions__gameButtons button:hover,
.gameOptions__gameButtons button:active,
.gameOptions__gameButtons button.activeButton,
.stopBottom:hover {
  background: #fe3756;
  border-color: #fe3756;
}

.timeAndScoreMemo {
  margin-bottom: 10px;
  border-radius: 0.5rem;
  border-color: #ebebeb;
  border: 1px;
  background: #ebebeb;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 15rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stopBottom,
.gameOptions__gameButtons button {
  padding: 1.25rem 0;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border-color: #23213d;
  border: 1px;
  gap: 1rem;
  background: #23213d;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  width: 15rem;
  cursor: pointer;
}
.stopBottom {
  margin: 10px auto 0 auto;
}
.gameOptions__gameButtons__bottonsRow button {
  width: 5rem;
}
.container .item {
  padding-top: 1rem;
}
.memoGame {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
#squerFalse {
  display: grid;
  background-color: #ebebeb;
  min-height: 160px;
  border-radius: 8%;
  font-family: Poppins;
  font-size: 100px;
  place-items: center;
  cursor: pointer;
}
#squerTrue {
  display: grid;
  background-color: #20b915;
  min-height: 160px;
  min-width: 160px;
  border-radius: 8%;
  font-family: Poppins;
  font-size: 100px;
  place-items: center;
  cursor: pointer;
}
.stopBottom,
.gameOptions,
.gameOptions__gameButtons,
.gameOptions__gameButtons div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameOptions__gameButtons div {
  justify-content: flex-start;
}
.gameOptions__gameButtons .gameOptions__gameButtons__bottonsRow {
  display: flex;
  flex-direction: row;
}
.gameOptions__gameButtons__bottonsRow button span {
  width: auto;
}
.gameOptions {
  margin-top: 20px;
}
.gameOptions__gameButtons
  .gameOptions__gameButtons__bottonsRow
  button:nth-child(2) {
  margin: 15px 10px 0 10px;
}
@media (width < 900px) {
  #squerFalse {
    min-height: 50px;
    min-width: 50px;
    font-size: 30px;
  }
  #squerTrue {
    min-height: 50px;
    min-width: 50px;
    font-size: 30px;
  }
  .memoGame {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .gameOptions__gameButtons .gameOptions__gameButtons__bottonsRow {
    display: flex;
    flex-direction: row;
  }
}
