footer {
  grid-area: footer;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 270px;
  position: relative;
  padding: 9px 18px;
  z-index: 1200;
  overflow-y: auto;
}

footer > * {
  color: var(--color-white);
  text-decoration: none;
  display: flex;
}

footer .text-up {
  align-items: flex-start;
}

footer .text-down {
  align-items: flex-end;
}

footer a {
  text-align: right;
  width: 100%;
  display: block;
  white-space: nowrap;
  color: #fe3756;
}
.contacts {
  display: flex;
  flex-direction: column;
}
@media (width < 600px) {
  footer {
    /* height: 150px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2px 8px;
  }
  footer div {
    font-size: 0.7rem;
  }
  .contacts {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 10px 0;
  }
  footer a {
    text-align: center;
    color: #fe3756;
  }
}
