.header__header {
  grid-area: header;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 3rem;
  box-shadow: 0px 1px 9px 0px var(--color-grey);
  z-index: 1200;
}
.header__header .menu {
  display: flex;
  justify-content: space-around;
  max-width: 300px;
}
.menuButton {
  display: none;
}
@media (width < 800px) {
  .menuButton {
    display: inline-block;
    border: none;
    background: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  .header__header .menu {
    display: none;
  }
  .header__header .menu.showMenu {
    display: flex;
    position: absolute;
    background-color: white;
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding: 0.5rem;
    top: 6rem;
    right: 2rem;
  }
}

/* @media (width < 400px) {
  .logo {
    width: 20px;
  }
} */

.header__header > a:first-of-type {
  text-decoration: none;
}

.header__header .user {
  color: var(--color-grey);
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__header .logo {
  height: auto;
  pointer-events: none;
}
.profile-picture .img-placeholder {
  border-radius: 50%;
  border: 3px solid #ff4d69;
}
.settings {
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
}

div .menu p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0px;
  color: #222222;
}
.header-name {
  margin: 8px 0;
}
