:root {
  --primary: #fe3756;
  --white: white;
  --dark-blue: #23213d;
}
.cookies-agreements {
  position: fixed;
  bottom: 0;
  background: var(--dark-blue);
  padding: 2em 2em 1em 2em;
  z-index: 3000;
  display: flex;
  flex-flow: row wrap;
  gap: 5%;
  font-family: 'poppins';
  transition: transform 1s ease;
  width: 100%;
  min-height: 300px;
  height: auto;
}
.cookies-agreements.hidden {
  transform: translateY(100%);
}
@media screen and (min-width: 1555px) {
  .button-wrapper {
    margin-top: 50px;
  }
}
.button-wrapper {
  display: flex;
  justify-content: right;
}
.button-wrapper button {
  border-radius: 8px;
  text-transform: uppercase;
}

.cookies-agreement .button-wrapper {
  display: flex;
  align-items: center;
  gap: 2em;
}

.button-wrapper .customize__button {
  background-color: var(--white);
  color: var(--primary);
  min-width: 40vw;
  padding: 20px 36px;
  border-radius: 8px;
  font-family: 'poppins';
  cursor: pointer;
}
.button-wrapper .agree__button {
  background-color: var(--primary);
  color: var(--white);
  min-width: 40vw;
  padding: 20px 36px;
  border-radius: 8px;
  font-family: 'poppins';
  margin-right: 30px;
  cursor: pointer;
}
.text-cookie {
  display: flex;
  justify-content: center;
  display: inline-block;
  max-width: 1000px;
  color: var(--white);
  padding: 1em;
  z-index: 10000000;
}
.text-cookie img {
  float: left;
  padding: 20px 20px 0 20px;
  height: 130px;
  vertical-align: top;
}
.text-cookie div {
  flex-grow: 1;
  font-size: 0.9rem;
  line-height: 23px;
}
.text-cookie div h2 {
  margin-bottom: 10px;
}
@media (width < 400px) {
  .text-cookie div {
    font-size: 0.6rem;
  }
  .text-cookie img {
    width: 80px;
    height: 80px;
    padding: 0px 10px 0 0px;
  }
  .text-cookie div {
    line-height: 0.9rem;
  }
  .button-wrapper button {
    font-size: 0.6rem;
    padding: 10px 18px;
  }
  .button-wrapper .agree__button {
    margin-right: 5px;
  }
}
