.exercises-module a {
  margin: 5px;
  text-decoration: none;
}
.exercises-module__categories {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.exercises-module__ls {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: black;
  max-width: 120px;
  height: 74px;
  text-align: center;
  border: 3px solid;
  border-radius: 10px;
}
.exercises-module__ls img {
  margin: 0 auto;
  width: 45px;
  max-height: 35px;
  /* transform: scale(0.5); */
}
.exercises-module__ls p {
  font-size: 0.8rem;

  /* margin-top: 20px; */
}
.exercises-module__ls:hover {
  /* color: var(--color-primary-red); */
  filter: invert(52%) sepia(44%) saturate(5713%) hue-rotate(322deg)
    brightness(92%) contrast(130%);
}
.active .exercises-module__ls {
  /* border-color: var(--color-primary-red);
  color: var(--color-primary-red); */
  filter: invert(52%) sepia(44%) saturate(5713%) hue-rotate(322deg)
    brightness(92%) contrast(130%);
}
.exercises-module__ls span {
  display: none;
}
.exercises-module__ls {
  border: none;
  border-radius: 0;
  border-bottom: 5px solid;
}
.exercises-module__categories {
  display: flex;
  justify-content: center;
}
