.exercise-main-module {
  text-align: center; /* Wyśrodkowanie treści w poziomie */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Wyśrodkowanie treści w pionie */
  align-items: center; /* Wyśrodkowanie treści w poziomie */
}
.exercise-main-container {
  display: flex;
  flex-direction: column;
}

.exercises-categories a.active {
  background-color: var(--color-primary-blue);
  color: var(--color-white);
}
