.exercise-main-module {
  text-align: center; /* Wyśrodkowanie treści w poziomie */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Wyśrodkowanie treści w pionie */
  align-items: center; /* Wyśrodkowanie treści w poziomie */
}
@media (width < 450px) {
  .exercise-main-module {
    font-size: 0.8rem;
  }
}
.exercise-main-container {
  display: flex;
  flex-direction: column;
}

.exercises-categories a.active {
  background-color: var(--color-primary-blue);
  color: var(--color-white);
}

/* @media() {
  .exercise-header {
  }
} */
