.gameOptionsButtons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.moleGameOptions__gameTime h4,
.moleGameOptions__moleCount h4,
.moleGameOptions__startButton h4 {
  text-align: center;
  margin-top: 20px;
}

.moleGameOptions__gameTime button,
.moleGameOptions__moleCount button,
.gameOptionsButtons__controlButton {
  padding: 1.25rem 2.2rem 1.25rem 2.2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: #23213d;
  border: 1px;
  gap: 1rem;
  background: #23213d;
  min-width: 130px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.gameOptionsButtons__controlButton {
  min-width: 300px;
}

.moleGameOptions__gameTime button:hover,
.moleGameOptions__moleCount button:hover,
.gameOptionsButtons__controlButton:hover,
.moleGameOptions__gameTime button.activeButton,
.moleGameOptions__moleCount button.activeButton {
  background: #fe3756;
  border-color: #fe3756;
}
@media (width < 600px) {
  .moleGameOptions__gameTime button,
  .moleGameOptions__moleCount button,
  .gameOptionsButtons__controlButton {
    margin: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 0.9rem;
    min-width: 80px;
  }
  .gameOptionsButtons__controlButton {
    min-width: 300px;
  }
}
